{% extends "base.html" %}

{% block title %}Films{% endblock %}

{% block content %}

<h1>Films</h1>

<form action="{{ url_for('films') }}" method="get">
    <input type="text" name="name" placeholder="Name">
    <input type="submit" value="Search">
</form>

<hr>

{% for one_film in films %}
    <div>
        <strong>{{ one_film.name }}</strong>
        <a href="{{ url_for('film_details', film_id=one_film.id) }}">
            details
        </a>
    </div>
{% else %}
    <p>No films found</p>
{% endfor %}

{% endblock %}