{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<h2>Register</h2>

<form method="post" action="{{ url_for('register') }}">

    <label>First name:</label><br>
    <input type="text" name="fname" required><br><br>

    <label>Last name:</label><br>
    <input type="text" name="lname" required><br><br>

    <label>Login:</label><br>
    <input type="text" name="login" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <label>Birth date:</label><br>
    <input type="date" name="birth_date" required><br><br>

    <input type="submit" value="Register">

</form>

{% endblock %}